body{
	background: black;
	color: white;
	font-family:'Cabin', sans-serif;
}
#pokeball{
  width: 10em;
  height: 10em;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
#pokeball::before{
  content:'';
  background-color:red;
  border-radius: 5em 5em 0 0;
  width: 10em;
  height: 5em;
  position: absolute;
}
#pokeball .details{
  width: 10em;
  height: .5em;
  background-color: #333;
  position: relative;
  top: 4.8em;
}
#pokeball .details::after {
    content: '';
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -0.5em;
    left: 4.1em;
}
#pokeball .details::before {
  content: '';
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: -1.1em;
    left: 3.5em;
}
.centrar{
	width: 10em;
	height: 10em;
	margin: 3% auto 0px auto;
}
h2{
	text-align: center;
}
